nav {
    position: relative;
    width: 100%;
}

/* nav::after {
    content: "";
    display: table;
    clear: both;
} */



.logo {
    display: none;
}



.black-top-nav {
    background-color: black;
    color: white;
}
.black-top-nav ul li {
    float: left;
    padding: 5px 10px;
    font-size: 15px;
}
nav li a {
    text-decoration: none;
}

.black-top-nav::after {
    content: "";
    display: table;
    clear: both;
}


.black-top-nav li a {
    color: rgb(185, 185, 185);
}

.black-top-nav li a:hover {
    color: white;
}

.black-top-nav .active a {
    color: white;
}
.nav-search {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search .fa-search,
.nav-search .fa-bars,
.nav-text li {
    padding: 15px;
}



.fa-search,
.fa-bars {
    border-left: 1px solid rgb(204, 204, 204);
    font-size: 1.1em;
}

.fa-bars {
    display: none;
    color: #ff4422;
    
}

.nav-text {
    width: 90%;
}
.nav-text li {
float: left;
}

.nested li {
    padding: 10px 0;
}
.nested {
    color: white;
    font-size: 15px;
    width: 210px;
    position: absolute;
}
.one {
    top: 26px;
    left: 57px;
    font-size: 15px;
    background-color: purple;
    display: none;
}

.two {
    background: orange;
    display: none;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Play', sans-serif;
    font-size: .98em;
}
.main-nav li a {
    color: rgba(170,170,170);

}
.main-nav li a:hover {
color: black;
}




.yellow-div {
    background-color: rgb(255, 221, 51);
    clear: both;
}

.yellow-div p {
    padding: 8px;
}


@media only screen and (max-width: 1025px){
    .logo {
        background-color: #ff4422;
        width: 100px;
        height: 73px;
        display: flex;
        align-items: center;
        display: block;

        
    }
    .logo img {
        width: 50%;
        display: block;
        margin: auto;
        padding-top: 30px;
    }
    
    nav .nav-container {
        display: flex;
    }

    .nav-content {
        width: 90%;
    }
   
  
}


@media only screen and (max-width: 775px){
   nav .logo {
        width: 100px;
        height: 47px;        
    }

    .logo img {
        width: 50%;
        padding-top: 17px;
    }

    .black-top-nav,
    .main-nav .nav-text {
        display: none;
    }
   .nav-search {
       align-self: flex-end;
   }
   .main-nav {
       justify-content: flex-end;
   }
    .fa-bars {
        display: block;
    }
}