nav {
    position: fixed;
    width: 100%;
    top: 0;
}

/* nav::after {
    content: "";
    display: table;
    clear: both;
} */



.logo {
    display: none;
}



.black-top-nav {
    background-color: rgb(36, 36, 36);
    color: white;
    z-index: 2;
}

.black-top-nav li {
    float: left;
    padding: 5px 10px;
    font-size: 15px;
}
nav li a {
    text-decoration: none;
}

.black-top-nav::after {
    content: "";
    display: table;
    clear: both;
}


.black-top-nav a {
    color: rgb(185, 185, 185);
    padding-bottom: 15px;
}

.black-top-nav a:hover {
    color: white;
}

.black-top-nav .active a {
    color: white;
}
.nav-search {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search .fa-search,
.nav-search .fa-bars,
.nav-text li {
    padding: 15px;
}



.fa-search,
.fa-bars {
    border-left: 1px solid rgb(204, 204, 204);
    font-size: 1.1em;
}

/*#input-search {
    display: none;
    width: 800px;
    height: 600px;
    background-color: white;
}

#input-search:target {
    display: block;
}*/


.fa-bars {
    display: none;
    color: #ff4422;
    
}
.bars {
    display: none;
}

.nav-text {
    width: 90%;
}
.nav-text li {
float: left;
}

.nested li {
    padding: 10px 0 10px 5px;
    display: block;
    width: 100%;
}
.nested li a:hover {
    color: white;
}

.nested {
    color: rgb(185, 185, 185);
    font-size: 15px;
    width: 210px;
    position: absolute;
}
.one {
    top: 25px;
    font-size: 15px;
    display: none;
    background: black;
    z-index: 0;
}

.one:hover,
.two:hover {
    display: block;
}

.two {
    background: black;
    display: none;
    top: 25px;
    
    

}
.main-nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Play', sans-serif;
    font-size: .96em;
    background: white;
}
.main-nav li a {
    color: rgba(170,170,170);

}

.black-top-nav li a:hover + .one,
.black-top-nav li a:hover + .two {
    display: block;
}




.main-nav li a:hover {
color: black;
}


.yellow-div {
    background-color: rgb(255, 221, 51);
    margin-top: -3px;
}

.yellow-div p {
    padding: 8px;
}

.yellow-div a {
    text-decoration: none;
    color: black;
}

.latest-news {
    width: 80%;
    margin: 0 auto;
}

.latest-news:after {
    content: "";
    display: block;
    clear: both;
    overflow: hidden;
}


.latest-news-thumbnail {
    float:left;
    width: 25%;
}





/* FOOTER */

footer {
    margin: 0 auto;
    width: 100%;
}

.footer-top {
    height: 90px;
    background-color: rgb(13,13,13);
    padding-top: 42px;
    padding-bottom: 28px;
    margin: 0 auto;
    
}

.social {
    width: 80%;
    height: 45px;
    margin-bottom: 21px;
    margin: 0 auto;
    text-align: center;
}


.footer-links {

    height: 24px;
    margin: 0 auto;
    
   
}



.social li .fab, .social li .fas {
    margin: 0 auto;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: rgb(85,85,85);
    
}

.social li a{
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
    font-family: 'Lato', 'san-serif';
    
}

 .footer-links li, .social li {
    list-style-type: none;
    float:left;
    margin-right: 20px;
    text-align: center;

}

 .footer-links li a{
    text-decoration: none;
    color: lightgray;
    font-size: 13px;
    font-family: 'Lato', 'san-serif';
}

.footer-bottom {
    height: 57px;
    background-color: black;
    color: lightgray;
    text-align: center;
    padding-top: 40px;
    font-family: 'Lato', 'san-serif';
    font-size: 13px;

}

.footer-bottom img {
    width: 37px;
    height: 9px;
}


@media only screen and (max-width: 1025px){
    .logo {
        background-color: #ff4422;
        width: 100px;
        height: 73px;
        display: flex;
        align-items: center;
        display: block;

        
    }
    .logo img {
        width: 50%;
        display: block;
        margin: auto;
        padding-top: 30px;
    }
    
    nav .nav-container {
        display: flex;
    }

    .nav-content {
        width: 90%;
    }


  
}


@media only screen and (max-width: 775px){
   nav .logo {
        width: 100px;
        height: 47px;        
    }

    .logo img {
        width: 50%;
        padding-top: 17px;
    }

    .black-top-nav,
    .main-nav .nav-text {
        display: none;
    }
   .nav-search {
       align-self: flex-end;
   }
   .main-nav {
       justify-content: flex-end;
   }

    .nav-search {
        width:120px;
    }
   .bars {
       display: block;
   }
}

